:root {
  --bgcolor: #f1f1f1;
  --insidebg: #303030;
  --headers: #1A1A1A;
  --white: white;
  --lightcolor: #E3E3E3;
  --greenbg: #36FBA1;
  --bluecolor: #005BD3;
  --textwhite: #B5B5B5;
  --darkhover: #656266;
  --buttonbg: #404040;
  --tw-shadow: inset 0 2px 4px 0 rgba(229, 225, 225, 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);

}

* {
  font-family: Inter;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-color: var(--bgcolor);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--headers);
  padding: 12px 8px 12px 16px;
}

.searchbox {
  display: flex;
  align-items: center;
  background: var(--insidebg);
  border: 1px solid var(--darkhover);
  padding: 8px;
  border-radius: 8px;
  width: 300px;
  height: 18px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .searchbox {
    width: 480px;
  }
}


.searchbox:hover {
  border: 2px solid var(--lightcolor);
}



.searchbox input {
  background: transparent;
  border: transparent;
  width: 100%;
  color: var(--textwhite);
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.searchbox input::placeholder {
  color: var(--textwhite);
}

.right-hand {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--textwhite);
  transition: all 300ms ease-in-out;
}

.right-hand > div:hover {
  background: var(--darkhover);
}

.right-hand > div {
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: var(--lightcolor);
}

.far-right {
  display: flex;
}

.far-right > div {
  padding: 8px;
  border-radius: 8px;
}

.far-right > div:last-child {
  background: var(--greenbg);
  color: var(--insidebg)
}

.bigsc, .far-right>div:nth-child(1) {
  display: none;
}

@media screen and (min-width: 768px) {
  .bigsc, .far-right>div:nth-child(1) {
    display: block;
  }

  .smallsc {
    display: none;
  }
  .right-hand > div {
    background: var(--insidebg);
  }
}

.container {
  width: 100vw;
  max-width: 800px;
  margin: 20px auto 0 auto;
}

.coverup {
  height: 8.5rem;
}

.notify {
  position: relative;
  background: var(--headers);
  color: var(--lightcolor);
}

.notify-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 88.5%;
  padding: 0.7rem;
}

@media screen and (min-width: 768px) {
  .notify {
    border-radius: 8px;
  }
}

.notify-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.closeNotify {
  position: absolute;
  top: 0;
  right: 2%;
}

.notify-right > a {
  background: var(--white);
  font-weight: 550;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--insidebg);
  font-size: 14px;
}

.notify-right > a:hover {
  background-color: rgba(255, 255, 255, 0.881);
}

.notify-right > div {
  cursor: pointer;
}

.main {
  background: var(--white);
  border: 2px solid lightgrey;
  margin-bottom: 10%;
  height: 100px;
  padding: 1.7rem 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main {
    border-radius: 18px;
  }
}

.main-title {
  font-weight: 600;
  font-size: 20px;
}

.main-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.tog-main {
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.tog-main img {
  width: 25px;
}

.tog-main:hover {
  background: var(--bgcolor);
}

.main-second {
  padding: 4px 0 13px 8px;
}

.main-third {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2%;
}

.load {
  background: var(--bgcolor);
  width: 100px;
  border-radius: 10px;
  height: 7px;
  position: relative;
  ;
}

.load > div {
  position: absolute;
  transition: width 500ms ease-in-out;
  top: 0;
  left: 0;
  width: 0%;
  height: 7px;
  background: var(--headers);
  border-radius: 10px;
}

.stage {
  color: var(--headers);
  border-radius: 18px;
  margin: 0.5rem auto;
  height: 2.7rem;
  overflow: hidden;
  width: 93%;
}

.circle-text {
  width: 100%;
}

.stageactive {
  width: 93%;
  color: var(--headers);
  border-radius: 18px;
  margin: 0.5rem auto;
  padding: 10px;
  background: var(--bgcolor);
}

.stage > div:nth-child(2),
.stageactive > div:nth-child(2) {
  display: flex;
}

.stage > div:nth-child(2) > div:nth-child(1),
.stageactive > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
}

.stage-first {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
}

.stage-first > div:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
}

.stage-second {
  width: 94%;
  margin: 1% 0 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: rgb(97, 96, 96);
}

.stage-image {
  width: fit-content;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .stage-image {
    display: block;
  }
  .stageactive {
    width: 93%;
  }
}

.blues {
  color: var(--bluecolor);
  font-weight: 550;
  margin-bottom: 3%;
}

.btns {
  margin-top: 5%;
}

.circle {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 3.1px dashed var(--darkhover);
}

.circle:hover {
  border: 3px solid var(--darkhover);
}

.circle {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 3.1px dashed var(--darkhover);
}

.circle:hover {
  border: 3px solid var(--darkhover);
}

.circle-animate {
  animation: circle 200ms linear infinite;
}

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}

.circleimg {
  width: 25px;
  display: none;
  cursor: pointer;
}


.profilepop {
  position: absolute;
  box-shadow: 0px 3px 4px #5757575d;
  border-radius: 16px;
  top: 11%;
  right: 15px;
  background: var(--white);
  width: 340px;
  z-index: 2;
  display: none;
  animation: hdnotify 300ms;
}

.poplinks {
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  padding: 8px;
}

.poplinks > a {
  padding: 6px;
  color: var(--insidebg);
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border 400ms ease-in-out;
}

.poplinks > a:hover {
  background: var(--bgcolor);
}

.poplinks > a > div {
  color: rgb(150, 149, 149);
}

.pop-top {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 13px;
}

.pop-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bgcolor);
  padding: 5px 10px;
  border-radius: 10px;
  width: 90%;
  margin: 2% auto;
}

.pop-first > div {
  display: flex;
  align-items: center;
}

.pop-first > div > div {
  padding: 12px;
  border-radius: 8px;
}

.pop-first > div > div:nth-child(1) {
  background-color: var(--greenbg);
}

.pop-first img {
  width: 20px;
}

.hdnotify {
  width: 465px;
  position: absolute;
  box-shadow: 0px 3px 4px #5757575d;
  border-radius: 16px;
  top: 11%;
  right: 15px;
  background: var(--white);
  z-index: 2;
  display: none;
  animation: hdnotify 300ms;
}

@keyframes hdnotify {
  0% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.hdnotify > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.hdnotify > div:nth-child(1) {
  font-weight: 600;
}

.hdnotify img {
  width: 20px;
  margin: 0 10px;
}

.hdnotify > div:nth-child(2) {
  background: var(--lightcolor);
  width: 80%;
  font-weight: 550;
  font-size: 14px;
  margin: 0 auto 3% auto;
}

button {
  background: var(--buttonbg);
  color: var(--lightcolor);
  padding: 8px 10px;
  border-radius: 8px;
  border: 2px solid var(--headers);
  box-shadow: inset 0px 2px 2px 0 rgba(255, 255, 255, 0.5), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.2);
}

.flexed {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flexed > div {
  font-weight: 550;
  color: var(--headers);
}