
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.bgimg {
  background: url(`./assets/images/bg.png`);
}
.outgoes::before {
  content: '';
  border-style: solid;
  border-width: 0.8rem;
  border-color: #265d4c transparent transparent #265d4c;
  position: absolute;
  top: 0;
  right: -1rem;
}
.incomes::before {
  content: '';
  border-style: solid;
  border-width: 0.8rem;
  border-color: #202c33 #202c33 transparent transparent;
  position: absolute;
  top: 0;
  left: -1rem;
}