:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
}
.container {
  width: 100%;
  max-width: 32rem;
  margin: 5% auto;
}
.submit {
  padding: 0.5rem 1.3rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  background: black;
  color: white;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.content {
  border: 1px solid grey;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.box {
  width: 0.6rem;
  height: 0.6rem;
  border: 1px solid grey;
  border-radius: 0.1rem;
  cursor: pointer;
}
.boxchecked {
  background: blue;
}